{%- assign name = include.name | downcase -%}
{%- assign title = name | replace: '-', ' ' | capitalize -%}
{%- assign width = '32' -%}
{%- assign height = '32' -%}
{%- if include.width -%}
  {%- assign width = include.width -%}
{%- endif -%}
{%- if include.height -%}
  {%- assign height = include.height -%}
{%- endif -%}
{%- case include.type -%}
  {%- when 'image' -%}
    {%- capture icon -%}
      {%- assign image = '/assets/bootstrap-icons/icons/' | append: name | append: '.svg' -%}
      <img{% if include.class %} class="{{ include.class }}"{% endif %}{% if include.style %} style="{{ include.style }}"{% endif %} src="{{ image | relative_url }}" alt="{{ title }}" width="{{ width }}" height="{{ height }}">
    {%- endcapture -%}
  {%- when 'sprite' -%}
    {%- capture icon -%}
      {%- assign image = '/assets/bootstrap-icons/bootstrap-icons.svg#' | append: name -%}
      <svg class="bi{% if include.class %} {{ include.class }}{% endif %}"{% if include.style %} style="{{ include.style }}"{% endif %} width="{{ width }}" height="{{ height }}" fill="currentColor">
        <use xlink:href="{{ image | relative_url }}"/>
      </svg>
    {%- endcapture -%}
  {%- else -%}
    {%- capture icon -%}
      <i class="bi bi-{{- name -}}{% if include.class %} {{ include.class }}{% endif %}"{% if include.style %} style="{{ include.style }}"{% endif %}></i>
    {%- endcapture -%}
{%- endcase -%}
{{- icon -}}
