.highlight {

  * {
    font-size: $font-size-sm;
  }

  margin: 0;
  padding: 0;
  background-color: $light;
  border-radius: $border-radius;

  pre {
    margin: 0;
    padding: $spacer;
    color: $pre-color;
  }

  td {

    pre {
      padding: 0;
    }

  }

  .lineno {
    padding: 0 $spacer 0 0;
    text-align: right;
    color: $text-muted;
  }

  .hll {
    background-color: $yellow-100;
  }

  .dl,
  .err,
  .gd,
  .gr,
  .kt,
  .ne,
  .no,
  .s,
  .s1,
  .s2,
  .sa,
  .sb,
  .sc,
  .sd,
  .sh {
    color: $red-400;
  }

  .fm,
  .gh,
  .gp,
  .gt,
  .nc,
  .nf,
  .nn,
  .nv,
  .ss,
  .vc,
  .vg,
  .vi,
  .vm {
    color: $blue-400;
  }

  .bp,
  .gi,
  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .nb,
  .nt,
  .sx {
    color: $green-400;
  }

  .go,
  .il,
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .ni,
  .o,
  .w {
    color: $gray-400;
  }

  .c,
  .c1,
  .ch,
  .cm,
  .cpf,
  .cs {
    color: $teal-400;
  }

  .cp,
  .se {
    color: $orange-400;
  }

  .nd,
  .ow {
    color: $purple-400;
  }

  .gu,
  .si,
  .sr {
    color: $pink-400;
  }

  .na,
  .nl {
    color: $yellow-400;
  }

  .ne,
  .gh,
  .gp,
  .nc,
  .nn,
  .k,
  .kc,
  .kd,
  .kn,
  .kr,
  .nt,
  .ni,
  .se,
  .ow,
  .si,
  .gu,
  .gs {
    font-weight: $font-weight-bold;
  }

  .sd,
  .c,
  .c1,
  .ch,
  .cm,
  .cpf,
  .cs,
  .ge {
    font-style: italic;
  }

}
