:root,
[data-bs-theme="light"] {
  --base00: #{$light};
  --base01: #{$pre-color};
  --base02: #{$text-muted};
  --base03: #{$gray-400};
  --base04: #{$blue-400};
  --base05: #{$indigo-400};
  --base06: #{$purple-400};
  --base07: #{$pink-400};
  --base08: #{$red-400};
  --base09: #{$orange-400};
  --base10: #{$yellow-100};
  --base11: #{$green-400};
}

@include color-mode(dark, true) {
  --base00: #{$black};
}

.highlight {

  width: 100%;

  * {
    font-size: $font-size-sm;
  }

  margin: 0;
  padding: 0;
  background-color: var(--base00);
  border-radius: $border-radius;

  pre {
    margin: 0;
    padding: $spacer;
    color: var(--base01);
  }

  td {

    pre {
      padding: 0;
    }

  }

  .lineno {
    padding: 0 $spacer 0 0;
    text-align: right;
    color: var(--base02);
  }

  .o,
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .il,
  .go,
  .ni,
  .w {
    color: var(--base03);
  }

  .gh,
  .gp,
  .gt,
  .nc,
  .nf,
  .nn,
  .fm,
  .nv,
  .ss,
  .vc,
  .vg,
  .vi,
  .vm {
    color: var(--base04);
  }

  .nd,
  .ow {
    color: var(--base05);
  }

  .gu {
    color: var(--base06);
  }

  .si,
  .sr {
    color: var(--base07);
  }

  .gd,
  .gr,
  .kt,
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .sh,
  .s1,
  .no,
  .ne  {
    color: var(--base08);
  }

  .cp,
  .se {
    color: var(--base09);
  }

  .hll {
    background-color: var(--base10);
  }

  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs,
  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .nb,
  .nt,
  .sx,
  .bp,
  .gi,
  .na,
  .nl {
    color: var(--base11);
  }

  .k,
  .gh,
  .gp,
  .gs,
  .gu,
  .kc,
  .kd,
  .kn,
  .kr,
  .nc,
  .ni,
  .ne,
  .nn,
  .nt,
  .ow,
  .se,
  .si {
    font-weight: bold;
  }

  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs,
  .ge,
  .sd {
    font-style: italic;
  }

  .err {
    border: 1px solid var(--base08);
  }

}
