.highlight {

  & {
    width: 100%;
  }

  * {
    font-size: $font-size-sm;
  }

  td {
    pre {
      margin: 0;
      padding: 0;
    }
  }

  .lineno {
    padding: 0 $spacer 0 0;
    text-align: right;
    color: $body-secondary-color;
  }

  .o,
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .il,
  .go,
  .ni,
  .w {
    color: $gray-400;
  }

  .gh,
  .gp,
  .gt,
  .nc,
  .nf,
  .nn,
  .fm,
  .nv,
  .ss,
  .vc,
  .vg,
  .vi,
  .vm {
    color: $blue-400;
  }

  .nd,
  .ow {
    color: $indigo-400;
  }

  .gu {
    color: $purple-400;
  }

  .si,
  .sr {
    color: $pink-400;
  }

  .gd,
  .gr,
  .kt,
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .sh,
  .s1,
  .no,
  .ne  {
    color: $red-400;
  }

  .cp,
  .se {
    color: $orange-400;
  }

  .hll {
    background-color: $yellow-100;
  }

  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs,
  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .nb,
  .nt,
  .sx,
  .bp,
  .gi,
  .na,
  .nl {
    color: $green-400;
  }

  .k,
  .gh,
  .gp,
  .gs,
  .gu,
  .kc,
  .kd,
  .kn,
  .kr,
  .nc,
  .ni,
  .ne,
  .nn,
  .nt,
  .ow,
  .se,
  .si {
    font-weight: bold;
  }

  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs,
  .ge,
  .sd {
    font-style: italic;
  }

  .err {
    border: 1px solid $red-400;
  }

}
