{%- assign title = site.title | escape -%}
{%- if page.title -%}
  {%- capture title -%}{{ page.title | escape }} | {{ site.title | escape }}{%- endcapture -%}
{%- endif -%}

{%- assign description = site.description | escape -%}
{%- if page.description -%}
  {%- assign description = page.description | escape -%}
{%- endif -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{- description -}}">
    <link rel="icon" href="{{- '/favicon.ico' | relative_url -}}">
    <link rel="stylesheet" href="{{- '/assets/css/style.css' | relative_url -}}">
    <title>{{- title -}}</title>
  </head>
  <body>
    {{ content }}
    <script src="{{- '/assets/js/bootstrap.bundle.min.js' | relative_url -}}"></script>
    <script src="{{- '/assets/js/theme-switcher.js' | relative_url -}}"></script>
  </body>
</html>
